
.checkTeamInput{
    height: 40px;
    width: 80%;
    border-radius: 4px;
    border:0px solid #FFFFFF ;
    font-size: 13px;
    margin-left: 10px;
    text-align: left;
    color:#CCCCCC ;
}
.checkTeamInput2{
    height: 40px;
    width: 50%;
    border-radius: 4px;
    border:0px solid #FFFFFF ;
    font-size: 13px;
    margin-left: 10px;
    text-align: left;
    color:#CCCCCC ;
}
























