<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.geilove.dao.DeductionMapper" >
  <resultMap id="BaseResultMap" type="org.geilove.pojo.Deduction" >
    <id column="deductionID" property="deductionid" jdbcType="INTEGER" />
    <result column="deductionUUID" property="deductionuuid" jdbcType="VARCHAR" />
    <result column="categoryType" property="categorytype" jdbcType="VARCHAR" />
    <result column="userNeedMoneyUUID" property="userneedmoneyuuid" jdbcType="VARCHAR" />
    <result column="userSpendMoneyUUID" property="userspendmoneyuuid" jdbcType="VARCHAR" />
    <result column="moneySpend" property="moneyspend" jdbcType="VARCHAR" />
    <result column="userSpendMoneyDate" property="userspendmoneydate" jdbcType="TIMESTAMP" />
    <result column="theoryMoneySpend" property="theorymoneyspend" jdbcType="VARCHAR" />
    <result column="other" property="other" jdbcType="VARCHAR" />
    <result column="userNeedMoneyAccount" property="userneedmoneyaccount" jdbcType="VARCHAR" />
    <result column="userSpendMoneyAccount" property="userspendmoneyaccount" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    deductionID, deductionUUID, categoryType, userNeedMoneyUUID, userSpendMoneyUUID, 
    moneySpend, userSpendMoneyDate, theoryMoneySpend, other, userNeedMoneyAccount, userSpendMoneyAccount
  </sql>

  <!--getDeductionList-->
  <select id="getDeductionList" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from deduction
    where 1=1
    limit #{page, jdbcType=INTEGER},#{pageSize, jdbcType=INTEGER}
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from deduction
    where deductionID = #{deductionid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from deduction
    where deductionID = #{deductionid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.geilove.pojo.Deduction" >
    insert into deduction (deductionID, deductionUUID, categoryType, 
      userNeedMoneyUUID, userSpendMoneyUUID, 
      moneySpend, userSpendMoneyDate, theoryMoneySpend, 
      other, userNeedMoneyAccount, userSpendMoneyAccount
      )
    values (#{deductionid,jdbcType=INTEGER}, #{deductionuuid,jdbcType=VARCHAR}, #{categorytype,jdbcType=VARCHAR}, 
      #{userneedmoneyuuid,jdbcType=VARCHAR}, #{userspendmoneyuuid,jdbcType=VARCHAR}, 
      #{moneyspend,jdbcType=VARCHAR}, #{userspendmoneydate,jdbcType=TIMESTAMP}, #{theorymoneyspend,jdbcType=VARCHAR}, 
      #{other,jdbcType=VARCHAR}, #{userneedmoneyaccount,jdbcType=VARCHAR}, #{userspendmoneyaccount,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.geilove.pojo.Deduction" >
    insert into deduction
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deductionid != null" >
        deductionID,
      </if>
      <if test="deductionuuid != null" >
        deductionUUID,
      </if>
      <if test="categorytype != null" >
        categoryType,
      </if>
      <if test="userneedmoneyuuid != null" >
        userNeedMoneyUUID,
      </if>
      <if test="userspendmoneyuuid != null" >
        userSpendMoneyUUID,
      </if>
      <if test="moneyspend != null" >
        moneySpend,
      </if>
      <if test="userspendmoneydate != null" >
        userSpendMoneyDate,
      </if>
      <if test="theorymoneyspend != null" >
        theoryMoneySpend,
      </if>
      <if test="other != null" >
        other,
      </if>
      <if test="userneedmoneyaccount != null" >
        userNeedMoneyAccount,
      </if>
      <if test="userspendmoneyaccount != null" >
        userSpendMoneyAccount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deductionid != null" >
        #{deductionid,jdbcType=INTEGER},
      </if>
      <if test="deductionuuid != null" >
        #{deductionuuid,jdbcType=VARCHAR},
      </if>
      <if test="categorytype != null" >
        #{categorytype,jdbcType=VARCHAR},
      </if>
      <if test="userneedmoneyuuid != null" >
        #{userneedmoneyuuid,jdbcType=VARCHAR},
      </if>
      <if test="userspendmoneyuuid != null" >
        #{userspendmoneyuuid,jdbcType=VARCHAR},
      </if>
      <if test="moneyspend != null" >
        #{moneyspend,jdbcType=VARCHAR},
      </if>
      <if test="userspendmoneydate != null" >
        #{userspendmoneydate,jdbcType=TIMESTAMP},
      </if>
      <if test="theorymoneyspend != null" >
        #{theorymoneyspend,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="userneedmoneyaccount != null" >
        #{userneedmoneyaccount,jdbcType=VARCHAR},
      </if>
      <if test="userspendmoneyaccount != null" >
        #{userspendmoneyaccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.geilove.pojo.Deduction" >
    update deduction
    <set >
      <if test="deductionuuid != null" >
        deductionUUID = #{deductionuuid,jdbcType=VARCHAR},
      </if>
      <if test="categorytype != null" >
        categoryType = #{categorytype,jdbcType=VARCHAR},
      </if>
      <if test="userneedmoneyuuid != null" >
        userNeedMoneyUUID = #{userneedmoneyuuid,jdbcType=VARCHAR},
      </if>
      <if test="userspendmoneyuuid != null" >
        userSpendMoneyUUID = #{userspendmoneyuuid,jdbcType=VARCHAR},
      </if>
      <if test="moneyspend != null" >
        moneySpend = #{moneyspend,jdbcType=VARCHAR},
      </if>
      <if test="userspendmoneydate != null" >
        userSpendMoneyDate = #{userspendmoneydate,jdbcType=TIMESTAMP},
      </if>
      <if test="theorymoneyspend != null" >
        theoryMoneySpend = #{theorymoneyspend,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="userneedmoneyaccount != null" >
        userNeedMoneyAccount = #{userneedmoneyaccount,jdbcType=VARCHAR},
      </if>
      <if test="userspendmoneyaccount != null" >
        userSpendMoneyAccount = #{userspendmoneyaccount,jdbcType=VARCHAR},
      </if>
    </set>
    where deductionID = #{deductionid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.geilove.pojo.Deduction" >
    update deduction
    set deductionUUID = #{deductionuuid,jdbcType=VARCHAR},
      categoryType = #{categorytype,jdbcType=VARCHAR},
      userNeedMoneyUUID = #{userneedmoneyuuid,jdbcType=VARCHAR},
      userSpendMoneyUUID = #{userspendmoneyuuid,jdbcType=VARCHAR},
      moneySpend = #{moneyspend,jdbcType=VARCHAR},
      userSpendMoneyDate = #{userspendmoneydate,jdbcType=TIMESTAMP},
      theoryMoneySpend = #{theorymoneyspend,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      userNeedMoneyAccount = #{userneedmoneyaccount,jdbcType=VARCHAR},
      userSpendMoneyAccount = #{userspendmoneyaccount,jdbcType=VARCHAR}
    where deductionID = #{deductionid,jdbcType=INTEGER}
  </update>
</mapper>