<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.geilove.dao.PutaoauthMapper" >
  <resultMap id="BaseResultMap" type="org.geilove.pojo.Putaoauth" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="renzhenguuid" property="renzhenguuid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="numberid" property="numberid" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="confirmif" property="confirmif" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="imgone" property="imgone" jdbcType="VARCHAR" />
    <result column="imgtwo" property="imgtwo" jdbcType="VARCHAR" />
    <result column="imgthree" property="imgthree" jdbcType="VARCHAR" />
    <result column="authtype" property="authtype" jdbcType="VARCHAR" />
    <result column="legalperson" property="legalperson" jdbcType="VARCHAR" />
    <result column="useruuid" property="useruuid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, renzhenguuid, name, numberid, phone, address, email, confirmif, comment, imgone, 
    imgtwo, imgthree, authtype, legalperson, useruuid
  </sql>

  <select id="selectByUserUUID" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from putaoauth
    where useruuid = #{useruuid}
  </select>
  <!--getPutaoauthSearch-->
  <select id="getPutaoauthSearch" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from putaoauth
    where name = #{name}
    limit #{page, jdbcType=INTEGER},#{pageSize, jdbcType=INTEGER}
  </select>

<!--getPutaoauths-->
  <select id="getPutaoauths" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from putaoauth
    where confirmIf = #{confirmIf}
    limit #{page, jdbcType=INTEGER},#{pageSize, jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from putaoauth
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="checkIfauth" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List" />
    from putaoauth
    where useruuid = #{useruuid,jdbcType=BIGINT}
  </select>
  <insert id="addPutaoauth" parameterType="org.geilove.pojo.Putaoauth">
    insert into putaoauth
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="renzhenguuid != null" >
        renzhenguuid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="numberid != null" >
        numberid,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="confirmif != null" >
        confirmif,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="imgone != null" >
        imgone,
      </if>
      <if test="imgtwo != null" >
        imgtwo,
      </if>
      <if test="imgthree != null" >
        imgthree,
      </if>
      <if test="authtype != null" >
        authtype,
      </if>
      <if test="legalperson != null" >
        legalperson,
      </if>
      <if test="useruuid != null" >
        useruuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="renzhenguuid != null" >
        #{renzhenguuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="numberid != null" >
        #{numberid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="confirmif != null" >
        #{confirmif,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="imgone != null" >
        #{imgone,jdbcType=VARCHAR},
      </if>
      <if test="imgtwo != null" >
        #{imgtwo,jdbcType=VARCHAR},
      </if>
      <if test="imgthree != null" >
        #{imgthree,jdbcType=VARCHAR},
      </if>
      <if test="authtype != null" >
        #{authtype,jdbcType=VARCHAR},
      </if>
      <if test="legalperson != null" >
        #{legalperson,jdbcType=VARCHAR},
      </if>
      <if test="useruuid != null" >
        #{useruuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from putaoauth
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.geilove.pojo.Putaoauth" >
    insert into putaoauth (id, renzhenguuid, name, 
      numberid, phone, address, 
      email, confirmif, comment, 
      imgone, imgtwo, imgthree, 
      authtype, legalperson, useruuid
      )
    values (#{id,jdbcType=BIGINT}, #{renzhenguuid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{numberid,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{confirmif,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{imgone,jdbcType=VARCHAR}, #{imgtwo,jdbcType=VARCHAR}, #{imgthree,jdbcType=VARCHAR}, 
      #{authtype,jdbcType=VARCHAR}, #{legalperson,jdbcType=VARCHAR}, #{useruuid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.geilove.pojo.Putaoauth" >
    insert into putaoauth
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="renzhenguuid != null" >
        renzhenguuid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="numberid != null" >
        numberid,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="confirmif != null" >
        confirmif,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="imgone != null" >
        imgone,
      </if>
      <if test="imgtwo != null" >
        imgtwo,
      </if>
      <if test="imgthree != null" >
        imgthree,
      </if>
      <if test="authtype != null" >
        authtype,
      </if>
      <if test="legalperson != null" >
        legalperson,
      </if>
      <if test="useruuid != null" >
        useruuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="renzhenguuid != null" >
        #{renzhenguuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="numberid != null" >
        #{numberid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="confirmif != null" >
        #{confirmif,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="imgone != null" >
        #{imgone,jdbcType=VARCHAR},
      </if>
      <if test="imgtwo != null" >
        #{imgtwo,jdbcType=VARCHAR},
      </if>
      <if test="imgthree != null" >
        #{imgthree,jdbcType=VARCHAR},
      </if>
      <if test="authtype != null" >
        #{authtype,jdbcType=VARCHAR},
      </if>
      <if test="legalperson != null" >
        #{legalperson,jdbcType=VARCHAR},
      </if>
      <if test="useruuid != null" >
        #{useruuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.geilove.pojo.Putaoauth" >
    update putaoauth
    <set >
      <if test="renzhenguuid != null" >
        renzhenguuid = #{renzhenguuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="numberid != null" >
        numberid = #{numberid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="confirmif != null" >
        confirmif = #{confirmif,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="imgone != null" >
        imgone = #{imgone,jdbcType=VARCHAR},
      </if>
      <if test="imgtwo != null" >
        imgtwo = #{imgtwo,jdbcType=VARCHAR},
      </if>
      <if test="imgthree != null" >
        imgthree = #{imgthree,jdbcType=VARCHAR},
      </if>
      <if test="authtype != null" >
        authtype = #{authtype,jdbcType=VARCHAR},
      </if>
      <if test="legalperson != null" >
        legalperson = #{legalperson,jdbcType=VARCHAR},
      </if>
      <if test="useruuid != null" >
        useruuid = #{useruuid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.geilove.pojo.Putaoauth" >
    update putaoauth
    set renzhenguuid = #{renzhenguuid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      numberid = #{numberid,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      confirmif = #{confirmif,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      imgone = #{imgone,jdbcType=VARCHAR},
      imgtwo = #{imgtwo,jdbcType=VARCHAR},
      imgthree = #{imgthree,jdbcType=VARCHAR},
      authtype = #{authtype,jdbcType=VARCHAR},
      legalperson = #{legalperson,jdbcType=VARCHAR},
      useruuid = #{useruuid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>